<svg version="1.0" xmlns="http://www.w3.org/2000/svg" height="405" width="150" viewBox="0 0 150 1296" preserveAspectRatio="xMidYMid meet">
  <g>
    <path stroke-linejoin="round" stroke-width="35" stroke="#efefef" fill="none" d="M -15, 900 l 0, -805 a 77.5 77.5 180 1 1 155 0 l 0, 855 a 170 170 270 1 1 -155 0 z"/>
    <circle fill="#b3000c" cx="62.5" cy="1100" r="138" />
    <line x1="62.5" x2="62.5" y1="975" y2="925" stroke="#b3000c" stroke-width="95" />
    <line x1="150" x2="175" y1="717.5" y2="717.5" stroke="#efefef" stroke-width="25" stroke-linecap="round" />
    <line x1="150" x2="175" y1="510" y2="510" stroke="#efefef" stroke-width="25" stroke-linecap="round" />
    <line x1="150" x2="175" y1="302.5" y2="302.5" stroke="#efefef" stroke-width="25" stroke-linecap="round" />
    <line x1="150" x2="175" y1="95" y2="95" stroke="#efefef" stroke-width="25" stroke-linecap="round" />
    <text x="190" transform="translate(0,20)" class="percents" y="717.5">25%</text>
    <text x="190" transform="translate(0,20)" class="percents" y="510">50%</text>
    <text x="190" transform="translate(0,20)" class="percents" y="302.5">75%</text>
    <text x="190" transform="translate(0,20)" class="percents" y="95">100%</text>
  </g>
    <line x1="62.5" x2="62.5" y1="925" [attr.y2]="y2$ | async" stroke="#b3000c" stroke-width="95" stroke-linecap="round" />
    <text x="62.5" text-anchor="middle" transform="translate(0,20)" class="text" [attr.y]="y2$ | async">{{count$ | async}}</text>
</svg>