<div class="main">
    <h1>West Chester Ward Relief Society Family History Challenge</h1>


    <h2 class="clear" *ngIf="metGoal$ | async" [@inOutAnimation]>
        🎉 We did it!! We reached our Goal!! We are up to {{count$ | async}} hours. Please keep logging your hours during the month so we can see how far we can go! 🎉
    </h2>

    <app-progress></app-progress>

    <p>
        Help us reach our goal of {{goal$ | async}} hours doing family history work for the month of December! It’s a Christmas present that we can give to our ancestors!!
    </p>

    <p>
        When you’ve completed an hour, hit the button below to add to our total.
    </p>

    <p>
        Any questions: Contact Sarah Jensen <a href="mailto:sarahj80@gmail.com">sarahj80@gmail.com</a>
    </p>
    <div class="center">
        <button mat-raised-button color="primary" (click)="onAdd()">+1 hour</button>
        <button mat-raised-button [disabled]="noObjects" color="accent" (click)="onUndo()">undo (-1)</button>
    </div>
    <div class="center">
        <img src="assets/temple.jpg" class="temple" />
    </div>
</div>